body {
    font-family: 'Lato', sans-serif;
    display:flex;
    font-weight: 300;
}

.logo {
  width: 0px;
  height: 0px;
  padding: 55px 70px 0 100px;
  background: url('./photos/logo.png');
  background-size: 175px;
  background-repeat: no-repeat;
  /* border: 1px solid red; */
  /* max-width: 200px;
  height: 200px;
} */
}

.logo:hover {
  width: 0px;
  height: 0px;
  padding: 55px 70px 0 100px;
  background: url('./photos/logo.gif');
  background-size: 175px;
  background-repeat: no-repeat;
}

@font-face {
    font-family: 'PicNic';
    src: url("./fonts/PicNic-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Mourier';
    src: url("./fonts/Mourier-Regular.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Saintjean';
    src: url("./fonts/Saintjean-Regular.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Mainz';
    src: url("./fonts/Mainz.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Mixo';
    src: url("./fonts/VTF_Mixo.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Trickster';
    src: url("./fonts/Trickster-Reg.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Mess';
    src: url("./fonts/Mess.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Pilowlava';
    src: url("./fonts/Pilowlava-Regular.otf") format("opentype");
  }

  @keyframes title {
    0% {
      font-family: 'PicNic', sans-serif;
      color: magenta;
    } 15% {
      font-family: 'Mess', sans-serif;
      color: green;
    } 30% {
      font-family: 'Saintjean', sans-serif;
      color: purple;
    } 45% {
      font-family: 'Mixo', sans-serif;
      color: red;
    } 60% {
      font-family: 'Mainz', sans-serif;
      color: blue;
    } 75% {
      font-family: 'Pilowlava', sans-serif;
      color: turquoise;
    } 90% {
      font-family: 'Mourier', sans-serif;
      color: orange;
    }
  }
  

.title {
    font-family: 'PicNic';
    font-size: 45px;
    padding-top: 15px;
    margin: 10px 0;
}

.title a {
    text-decoration: none;
    color: magenta;
}

.title a:hover {
    animation-name: title;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    line-height: 67px;
}

.sub-title {
    padding: 0px;
    margin: 0px;
    letter-spacing: -0.5px;
}

.nav-links { 
    list-style: none;
    padding: 12px 0 0 0;
    margin: 0px;
    /* font-weight: 200; */

}

.nav-links li {
    padding-top: 8px;
    font-size: 16px;
    letter-spacing: 1px;
}

.nav-links li:hover {
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

nav {
    width: 20%;
    margin-left: 10px;
    top: 0;
    position: sticky;
    align-self: flex-start;
}

main {
    width: 75%;
}

main img {
    width: 100%;
}

.experiment-container a { 
    text-decoration: none;
    color: black;
}
.experiment-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    width: 70%;
    margin: 0 auto;
}

.experiment {
    border: 1px solid magenta;
    border-radius: 5%;
    height: 300px;
    padding: 2rem 1.75rem;
}

.experiment:hover {
    transform: scale(1.02);
} 

.experiment-title {
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

.experiment-post-title {
    font-weight: 300;
    letter-spacing: 2px;
}

