body {
    font-family: 'Lato', sans-serif;
    display:flex;
}

@font-face {
    font-family: 'PicNic';
    src: url("./fonts/otf/PicNic-Regular.otf") format("opentype");
}

.title {
    font-family: 'PicNic';
    font-size: 45px;
    padding-top: 15px;
    margin: 0px;
}

.title:hover {
    font-size: 50px;
}

.title a {
    text-decoration: none;
    color: magenta;
}

.sub-title {
    padding: 0px;
    margin: 0px;
    letter-spacing: -0.5px;
}

.nav-links { 
    list-style: none;
    padding: 12px 0 0 0;
    margin: 0px;
}

.nav-links li {
    padding-top: 8px;
    font-size: 16px;
    letter-spacing: 1px;
}

.nav-links li:hover {
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

nav {
    width: 20%;
    margin-left: 10px;
    top: 0;
    position: sticky;
    align-self: flex-start;
}

main {
    width: 75%;
}

main img {
    width: 100%;
    color: rgb(134, 74, 74);
}

.lazy {
    width: auto;
    /* TODO: this will need to be changed for different viewports, obviously */
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    background-image: linear-gradient(to bottom right,rgb(208, 200, 200), #f1d9f6);   
    margin: 10px auto;
    display: block;
}
